<!DOCTYPE html>
<html ng-app="MyTodoApp">
<head>
  <title>First TO-DO MVP</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
  <div class="container" ng-controller="TodoListController as todoCtrl">
    <div class="row">
      <div class="col-md-6">
        <div class="todolist not-done">
          <h1>To-Do (or Not-To-Do) List</h1>

          <input type="text" class="form-control add-todo" placeholder="Add todo" ng-model="todoCtrl.newTask">
          <!-- <button id="checkAll" class="btn btn-success">Mark all as done</button> -->
          <button class="btn" ng-click="todoCtrl.addTask(todoCtrl.newTask)">Add Task</button>
          <hr>
          <ul id="sortable" class="list-unstyled">
            <li class="ui-state-default" ng-repeat="task in todoCtrl.todoList" ng-click="todoCtrl.completeTask(task, $index)">
              <div class="checkbox">
                <label><input type="checkbox" value="">{{ task }}</label>
              </div>
            </li>
          </ul>

          <div class="todo-footer">
            <strong><span class="count-todos"></span></strong> There is a total of {{ todoCtrl.todoList.length }} tasks to do.
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="todolist">
          <h1>Proudly Done</h1>
          <ul id="done-items" class="list-unstyled">
            <li ng-repeat="task in todoCtrl.completedList">{{ task }}<button class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="public/scripts/app.js"></script>
  <script type="text/javascript" src="public/scripts/todoListController.js"></script>
  <script type="text/javascript" src="public/scripts/todoService.js"></script>
</body>

</html>